.sk-folding-cube {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 75px;
  height: 75px;
  margin: auto auto;
  background: #ffffff;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8b500;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.ellipsis-1 {
  overflow: hidden;
/*  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;*/
    height: 2.4em;
}

.ellipsis-2 {
  overflow: hidden;
  /*tak ganti soale ndek firefox clamp ono issue*/
/*  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;*/
  height: 3.6em;
}

.ellipsis-3 {
  overflow: hidden;
/*  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;*/
  height: 4.8em;
}

.ellipsis-5 {
  overflow: hidden;
/*  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;*/
    height: 6,0em;
}

.card-img-style {
  display: block;
  height: 250px; 
  width: auto; 
  overflow: hidden;
}

.card-img-style-2 {
  display: block;
  height: 300px; 
  width: auto; 
  overflow: hidden;
}

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}

.icon-gradient{
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-team{
    text-align: center;
}
.our-team .pic{
    padding: 30px 20px 0;
    position: relative;
}
.our-team .pic:before,
.our-team .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-top: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0, 1);
    transition: all 0.4s ease-in-out 0s;
}
.our-team .pic:after{
    border: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transform: scale(1, 0);
}
.our-team:hover .pic:before,
.our-team:hover .pic:after{
    border-color: #6ebff3;
    transform: scale(1);
}
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .team-content{
    background: #333;
    padding: 20px 0;
    color: #fff;
    position: relative;
}
.our-team:hover .team-content{
    background: #6ebff3;
}
.our-team .team-content:before{
    content: "+";
    width: 20px;
    height: 20px;
    font-size: 17px;
    color: #fff;
    background: #333;
    position: absolute;
    top: -20px;
    right: 0;
    transition: all 0.3s ease 0s;
}
.our-team:hover .team-content:before{
    width: 100%;
    background: #6ebff3;
    color: #6ebff3;
}
.our-team .title{
    font-size: 18px;
    margin: 0 0 8px 0;
    text-transform: uppercase;
}
.our-team .post{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}
.our-team .social{
    padding: 0;
    list-style: none;
    position: absolute;
    top: -37px;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.our-team:hover .social{
    transform: scale(1);
}
.our-team .social li{
    display: inline-block;
}
.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #a0a0a0;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #fff;
}
.our-team .social li a:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s;
}
.our-team .social li:hover a:before{
    background: #333;
    color: #fff;
    transform: rotate(-45deg);
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 10px; }
}